html{
  font-size: 20px;
}
body{
  font-family: "Arial","Meiryo","sans-serif";
}
.pink{
  color: rgb(255,192,203);
}
.blue{
  color: skyblue;
}
div,h1,h2,p{
  text-align: center;
}
h1{
  font-size: 200%;
  font-family: sans-serif;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115,115,114);
}
#basic{
  p{
    font-weight: bold;
  }
}